<section class="socials">
  <h4 class="share-text">Share this page</h4>
  <div class="row">
    <a class="social green">
      <img class="icon" src="assets/icons/fb.svg" alt="">
    </a>
    <a class="social purple">
      <img class="icon" src="assets/icons/twitter.svg" alt="">
    </a>
    <a class="social orange">
      <img class="icon" src="assets/icons/linkedin.svg" alt="">
    </a>
    <a class="social cyan">
      <img class="icon" src="assets/icons/mail.svg" alt="">
    </a>
    <a class="social gray">
      <img class="icon" src="assets/icons/fax.svg" alt="">
    </a>
  </div>
</section>
<footer>
  <img class="logo" src="assets/icons/logo.svg" alt="">
  <hr>
  <div class="info-row">
    <div class="column">
      <p class="menu-item">About Cherry</p>
      <p class="menu-item-s">Cherry in brief</p>
      <p class="menu-item-s">Cherry's History</p>
      <p class="menu-item-s">Responsible gaming</p>
      <p class="menu-item-s">Legal Structure</p>
    </div>
    <div class="column">
      <p class="menu-item">Business Areas</p>
      <p class="menu-item-s">Online Gaming – ComeOn!</p>
      <p class="menu-item-s">Gaming Technology - XCaliber</p>
      <p class="menu-item-s">Game development – Yggdrasil Gaming & Highlights Games</p>
      <p class="menu-item-s">Performance-based Marketing – Game Lounge</p>
      <p class="menu-item-s">Restaurant Casino – Cherry Spelglädje</p>
      <p class="menu-item-s">Development Projects</p>
    </div>
    <div class="column">
      <p class="menu-item">Corporate Governance</p>
      <p class="menu-item-s">Corporate Governance</p>
      <p class="menu-item-s">General Meeting</p>
      <p class="menu-item-s">Annual General Meeting 2017</p>
      <p class="menu-item-s">Nomination Committee</p>
      <p class="menu-item-s">Boards of Directors</p>
      <p class="menu-item-s">Management Team</p>
      <p class="menu-item-s">Auditors</p>
      <p class="menu-item-s">Remunerations</p>
      <p class="menu-item-s">Incentive Programs</p>
      <p class="menu-item-s">Internal Control</p>
      <p class="menu-item-s">Minutes General Meetings</p>
      <p class="menu-item-s">Articles of Association</p>
    </div>
    <div class="column">
      <p class="menu-item">About Cherry</p>
      <p class="menu-item-s">Cherry in brief</p>
      <p class="menu-item-s">Cherry's History</p>
      <p class="menu-item-s">Responsible gaming</p>
      <p class="menu-item-s">Legal Structure</p>
    </div>
    <div class="column">
      <p class="menu-item">About Cherry</p>
      <p class="menu-item-s">Cherry in brief</p>
      <p class="menu-item-s">Cherry's History</p>
      <p class="menu-item-s">Responsible gaming</p>
      <p class="menu-item-s">Legal Structure</p>
    </div>
    <div class="column">
      <p class="menu-item">About Cherry</p>
      <p class="menu-item-s">Cherry in brief</p>
      <p class="menu-item-s">Cherry's History</p>
      <p class="menu-item-s">Responsible gaming</p>
      <p class="menu-item-s">Legal Structure</p>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <p class="mini-text">Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod.</p>
    <div class="links">
      <a href="">Lorem ipsum</a>
      <a href="">Lorem ipsum</a>
    </div>
  </div>
</footer>
