<div class="info-container">
  <div class="info-box purple">
    <h1 class="info-box-title">Pressreleases</h1>
    <h2 class="info-box-text-small">July 10, 2017</h2>
    <h2 class="info-box-text-big">PM 1 lorem ipsum dolor sit</h2>
    <h2 class="info-box-text-small">July 10, 2017</h2>
    <h2 class="info-box-text-big">PM 2 lorem ipsum dolor lorem ipsum sit amet Lorem ipsum.</h2>
    <h2 class="info-box-text-small">July 10, 2017</h2>
    <h2 class="info-box-text-big">PM 3 lorem ipsum dolor sit</h2>
    <h2 class="info-box-text-small">July 10, 2017</h2>
    <h2 class="info-box-text-big">PM 4 lorem ipsum dolor sit</h2>
    <div class="button">Lorem ipsum</div>
  </div>
  <div class="info-box orange">
    <h1 class="info-box-title">Calendar</h1>
    <h2 class="info-box-text-small">July 10, 2017</h2>
    <h2 class="info-box-text-big">Event 1 lorem ipsum dolor sit </h2>
    <h2 class="info-box-text-small">July 10, 2017</h2>
    <h2 class="info-box-text-big">Event 2 lorem ipsum dolor lorem ipsum sit amet.</h2>
    <h2 class="info-box-text-small">July 10, 2017</h2>
    <h2 class="info-box-text-big">Event 3 lorem ipsum dolor sit </h2>
    <h2 class="info-box-text-small">July 10, 2017</h2>
    <h2 class="info-box-text-big">PM 3 lorem ipsum dolor sit amet</h2>
    <div class="button">Lorem ipsum</div>
  </div>
  <div class="info-box green">
    <h1 class="info-box-title">Cherry Interim Report</h1>
    <h2 class="info-box-text-small">Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod. </h2>
    <div class="report-box">
      <img class="icon" src="assets/icons/pdf.svg">
      <h2 class="info-box-text-big special">Report Q2 2017</h2>
    </div>
    <div class="report-box">
      <img class="icon" src="assets/icons/pdf.svg">
      <h2 class="info-box-text-big special">Presentation Q2 2017</h2>
    </div>
    <div class="report-box">
      <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M2 11C0.896149 11 0 11.7207 0 12.6083V22.3917C0 23.2813 0.896149 24 2 24C3.10385 24 4 23.2813 4 22.3917V12.6083C4 11.7187 3.10385 11 2 11Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9994 0C13.8959 0 13 0.717 13 1.6V22.4C13 23.285 13.8959 24 14.9994 24C16.1029 24 17 23.285 17 22.4V1.6C17 0.717 16.1029 0 14.9994 0Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0006 4C20.8971 4 20 4.74687 20 5.66667V22.3333C20 23.2552 20.8971 24 22.0006 24C23.1041 24 24 23.2552 24 22.3333V5.66667C24 4.74687 23.1041 4 22.0006 4Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7 7.63636V22.3636C7 23.2687 7.89615 24 9 24C10.1039 24 11 23.2687 11 22.3636V7.63636C11 6.7333 10.1039 6 9 6C7.89615 6 7 6.7333 7 7.63636Z" fill="white"/>
    </svg>

      <h2 class="info-box-text-big special">Webcast Q2 2017</h2>
    </div>
    <div class="report-box">
      <img class="icon" src="assets/icons/xls.svg">
      <h2 class="info-box-text-big special">Financial data Q2 2017</h2>
    </div>
    <div class="button">Lorem ipsum</div>
  </div>
  <div class="info-box red">
    <div class="share-extra">
      <h1 class="share-title">The Share</h1>
      <h1 class="share-name">NASDAQ OMXS (CHER B):</h1>
      <h1 class="share-price">59.50 SEK<br>+1.75%</h1>
    </div>
    <div class="button">Lorem ipsum</div>
  </div>
</div>
<div class="extra-content">
  <div class="extra-box">
    <img *ngIf="isMobile()" class="img" src="assets/images/photo2.png">
    <div class="text-box">
      <h1 class="text-title">Lorem ipsum</h1>
      <h1 class="text-sub">Cherry är ett innovativt och snabbväxande spelföretag grundat 1963 vars övergripande strategi är att skapa aktievärde genom att äga och utveckla snabbväxande och lönsamma bolag inom spel och casino.
        Idag bedriver Cherry sin verksamhet genom fem diversifierade affärsområden, Nätspel via Cherry iGaming, Prestationsbaserad Marknadsföring via Game Lounge, Spelteknologi via XCaliber, Spelutveckling via Yggdrasil Gaming och Restaurangcasino via Cherry Spelglädje.
        Bolagets målsättning är att växa organiskt och genom strategiska förvärv av snabbväxande företag. Cherry sysselsätter cirka 900 personer och har drygt 4 600 aktieägare. Bolagets B-aktie är listad på AktieTorget.</h1>
    </div>
    <img *ngIf="!isMobile()" class="img" src="assets/images/photo2.png">
  </div>
</div>
<div class="extra-content second">
  <div class="extra-box">
    <img *ngIf="isMobile()" class="img" src="assets/images/onlinegaming.png">
    <div class="text-box">
      <h1 class="text-title greener">Online Gaming</h1>
      <h1 class="text-sub greener">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Donec eget massa a diam condimentum pretium. </h1>
    </div>
    <img *ngIf="!isMobile()" class="img" src="assets/images/onlinegaming.png">
  </div>
</div>
<div class="extra-content sixth">
  <div class="extra-box">
    <img class="img" src="assets/images/restaurantcasino.png">
    <div class="text-box">
      <h1 class="text-title purpur end">Restaurant Casino</h1>
      <h1 class="text-sub purpur end">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Donec eget massa a diam condimentum pretium. </h1>
    </div>
  </div>
</div>
<div class="extra-content orango">
  <div class="extra-box">
    <img *ngIf="isMobile()" class="img" src="assets/images/gamedev.png">
    <div class="text-box">
      <h1 class="text-title orangotext">Game Developement</h1>
      <h1 class="text-sub orangotext">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Donec eget massa a diam condimentum pretium. </h1>
    </div>
    <img *ngIf="!isMobile()" class="img" src="assets/images/gamedev.png">
  </div>
</div>
<div class="extra-content fourth">
  <div class="extra-box">
    <img class="img" src="assets/images/marketing.png">
    <div class="text-box">
      <h1 class="text-title blueish end">Performance-based Marketing</h1>
      <h1 class="text-sub blueish end">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Donec eget massa a diam condimentum pretium. </h1>
    </div>
  </div>
</div>
<div class="extra-content fifth">
  <div class="extra-box">
    <img *ngIf="isMobile()" class="img" src="assets/images/gamingtech.png">
    <div class="text-box">
      <h1 class="text-title gray">Gaming Technology</h1>
      <h1 class="text-sub gray">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Donec eget massa a diam condimentum pretium. </h1>
    </div>
    <img *ngIf="!isMobile()" class="img" src="assets/images/gamingtech.png">
  </div>
</div>
<div class="extra-content last">
  <div class="extra-box">
    <img class="img" src="assets/images/devprojects.png">
    <div class="text-box">
      <h1 class="text-title redder end">Development Projects</h1>
      <h1 class="text-sub redder end">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Donec eget massa a diam condimentum pretium. </h1>
    </div>
  </div>
</div>
