<div class="container">
  <img class="bg-img" src="assets/images/hero.png">
  <div class="landing-container">
    <h1 class="landing-text">Lorem ipsum dolor sit amet</h1>
  </div>
  <div class="gallery-dots">
    <svg class="dot" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="1.50293" y="1.8335" width="8" height="8" rx="4" fill="white" stroke="white" stroke-width="2"/>
    </svg>
    <svg class="dot" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="1.93164" y="1.8335" width="8" height="8" rx="4" stroke="white" stroke-width="2"/>
    </svg>
    <svg class="dot" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="1.93164" y="1.8335" width="8" height="8" rx="4" stroke="white" stroke-width="2"/>
    </svg>
    <svg class="dot" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="1.93164" y="1.8335" width="8" height="8" rx="4" stroke="white" stroke-width="2"/>
    </svg>
    <svg class="dot" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="1.93164" y="1.8335" width="8" height="8" rx="4" stroke="white" stroke-width="2"/>
    </svg>

  </div>
</div>